<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style/base.min.css">
  <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
  <script src="./vue.js" charset="utf-8"></script>
  <script src="./index.js" charset="utf-8"></script>
  <title>DevRant</title>
</head>
<body>
  <div id="windowBar"></div>
  <div id="sidebar" data-active="false">
    <i class="fa fa-user-circle-o fa-fw"  v-on:click="setSidebarActive(0)" aria-hidden="true" data-active="false" style="margin-top: 20px"><span> {{username}}</span></i>
    <div style="flex:2"></div>
    <i class="fa fa-bars fa-fw"           v-on:click="setSidebarActive(2)" aria-hidden="true" data-active="true" ><span>Rants       </span></i>
    <i class="fa fa-plus fa-fw"           v-on:click="setSidebarActive(3)" aria-hidden="true" data-active="false"><span>New Rant    </span></i>
    <i class="fa fa-search fa-fw"         v-on:click="setSidebarActive(4)" aria-hidden="true" data-active="false"><span>Search      </span></i>
    <i class="fa fa-file-text-o fa-fw"    v-on:click="setSidebarActive(5)" aria-hidden="true" data-active="false"><span>Stories     </span></i>
    <i class="fa fa-calendar-o fa-fw"     v-on:click="setSidebarActive(6)" aria-hidden="true" data-active="false"><span>Weekly rants</span></i>
    <i class="fa fa-shopping-cart fa-fw"  v-on:click="setSidebarActive(7)" aria-hidden="true" data-active="false"><span>Swag        </span></i>
    <i class="fa fa-comment fa-fw"        v-on:click="setSidebarActive(8)" aria-hidden="true" data-active="false"><span>Feedback    </span></i>
    <div style="flex:2"></div>
    <i class="fa fa-gear fa-fw"           v-on:click="setSidebarActive(10)"aria-hidden="true" data-active="false" style="margin-bottom: 20px"><span>Settings</span></i>
  </div>
  <div id="rants">
    <div class="rant" v-for="rantobj in rants">
      <div class="rantleft">
        <button type="button" name="Up" v-on:click="vote(rantobj['id'], 1); if(rantobj['vote_state']==1){rantobj['score']+=2}else{rantobj['score']++} rantobj['vote_state'] = 2;">
          <i class="fa fa-plus fa-fw" aria-hidden="true"></i><i class="fa fa-plus fa-fw" aria-hidden="true"></i>
        </button>
        <p>{{rantobj['score']}}</p>
        <button type="button" name="Down" v-on:click="vote(rantobj['id'], 0); if(rantobj['vote_state']==2){rantobj['score']-=2}else{rantobj['score']--} rantobj['vote_state'] = 1; ">
          <i class="fa fa-minus fa-fw" aria-hidden="true"></i><i class="fa fa-minus fa-fw" aria-hidden="true"></i>
        </button>
      </div>
      <p>{{rantobj['text']}}</p>
      <div v-if='rantobj["attached_image"] != ""' class="rantimg">
        <img :src='rantobj["attached_image"]["url"]'>
      </div>
       <i class="fa fa-comments" aria-hidden="true"><p>{{rantobj['num_comments']}}</p></i>
      <div class="spacer"></div>
    </div>
  </div>
  <div id="loadIndicator"><p>Loading...</p></div>
  <div id="loginScreen" style="display: none">
    <div id="loginContainer">
      <h1>Login</h1>
      <div id="loginError" data-active="false"><span>Login Failed</span>, <span>Check your credentials.</span></div>
      <form class="" id="loginForm">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="submit" value="Login" style="background: #C14857; color: white; width:322px">
      </form>
    </div>
  </div>
</body>
</html>
