<div class="rant">
  <div class="rantleft">
    <button type="button" name="Up"><i class="fa fa-plus fa-fw" aria-hidden="true"></i><i class="fa fa-plus fa-fw" aria-hidden="true"></i></button>
    <p>{{RANT_VOTES}}</p>
    <button type="button" name="Up"><i class="fa fa-minus fa-fw" aria-hidden="true"></i><i class="fa fa-minus fa-fw" aria-hidden="true"></i></button>
  </div>
  <p>{{RANT_TEXT}}</p>
   <i class="fa fa-comments" aria-hidden="true"><p>{{RANT_COMMENTS}}</p></i>
  <div class="spacer"></div>
</div>
